@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    font-size: 24px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Bebas Neue';
}

.header-content-border,
.hero-content-border {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    height: 7.5rem;
    background-color: #219ebc;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    height: 7.5rem;
    background-color: #219ebc;
    align-items: center;
    width: 95%;
}

.logo-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    background-color:#5ee2e2;
    border: 4px ridge #023047;
}

.logo {
    width: 6rem;
    height: 6rem;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.title {
    margin: 0px;
    font-size: 3rem;
    color: #219ebc;
    padding-right: .8rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    color: #caf0f8;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
}

.hero-text-and-image {
    background-color: #caf0f8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-text-title {
    margin: 0px;
}

.hero-title {
    color:#c77a21;
}

.hero-text-body {
    margin: 0px;
}

.hero-text {
    width: 16rem;
    font-size: 1.5rem;
    color: #18738a;
    margin: 0px;
}