body, 
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.header-container {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.header {
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.drum {
    color: orange;
}

.dog {
    color: green;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.hero-image {
    background-image: linear-gradient(rgb(0, 0, 0, .1), rgb(255, 165, 0, .3) 70%, rgb(255, 165, 0) 90%), url(images/drums.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65rem;
    position: relative;
    top: 5rem;
    z-index: -1;
}

.hero-title {
    margin: 0;
    color: orange;
    font-size: calc(2.5rem + 4vw);
    width: fit-content;
    padding-top: 5rem;
    padding-left: 5%;
}

.hero-body {
    color: white;
    max-width: 30%;
    font-size: calc(1.5rem + 1vw);
    padding-left: 5%;
}

.hero-button {
    background-color: orange;
    color: white;
    font-weight: 900;
    margin-left: 5%;
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
}

.services-container {
    background-color: orange;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.services-content {
    background-color: white;
    width: 80rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .3) 0px 0px 5px 5px;
}

.services-title {
    font-size: 4rem;
}